@import "fonts.css";

@import "reset.css";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  box-sizing: border-box;

  transition: all 0.5s ease;
}

main {
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  overflow-y: overlay;

  color: #FFF;
  background: url('../images/backone.png') -25px -50px;
  background-size: calc(100% + 50px);

  font-family: "SmoochSans-Light", sans-serif;
  font-weight: 400;

}

a {
  text-decoration: none;

  color: #C4C4C4;

  font-size: 30px;
}

h1 {
  padding-left: 20px;

  color: #8FA18C;
}

h2 {
  width: 40vw;
  margin-bottom: 56px;

  font-size: 50px;

}

h3 {
  font-size: 40px;
}

p {
  width: 40vw;
  margin-bottom: 40px;

  font-family: "VentiCF-DemiBold";
  font-size: 24px;
  line-height: 130%;
}

header {
  position: fixed;
  z-index: 100;

  display: flex;

  width: 100%;
  padding: 20px 0 20px 0;

  font-size: 30px;

  justify-content: center;

}

.beginning, .steptree {
  width: 100vw;
  height: 90vh;
  padding: 120px 200px 0 100px;

  color: #4D5359;
  background-color: #79C99E;
}

.feelanger, .feelconfuse {
  display: flex;

  height: 70vh;

  color: #B5C6B2;

  align-items: center;
}

.feelanger h2, .feelconfuse h2 {
  width: 90vw;
  padding: 20px;

  text-align: center;
}

.steptwo {
  height: 90vh;
  padding: 120px 200px 0 100px;

  color: #FFF;
  background-color: #508484;
}

.problem {
  position: absolute;
  z-index: -1;

  margin-top: 200px;
  margin-left: -200px;

  color: #B5C6B2;

  font-size: 100px;
}

.message:hover {
	cursor:pointer;
}


span {
position: absolute;

font-family: "SmoochSans-Light", sans-serif;
font-size: 50px;
}

.question a {
  margin-top: 550px;

  text-align: center;

  border: 20px;

  font-size: 45px;
  line-height: 90%;
}

.question {
  display: flex;
  overflow: hidden;

  height: 100vh;
  margin-bottom: 30px;

  font-family: "SmoochSans-Light", sans-serif;

  justify-content: center;
}

.panel-text {
  margin: 100px auto 100 auto;
}

.message {
  padding: 30px;

  text-align: center;

	color:#fff;

	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	font-weight: 700;
	}

  .choose {
    display: flex;
    flex-direction: column;

    height: 70vh;

    align-items: center;
  }

.choose p {
  text-align: center;

  font-size: 30px;
}

.top {
  padding-bottom: 20px;
}

  .question_one, .question_two {
    margin-top: 50px;
  }

  .question_one p, .question_two p {
    width: 40vw;
    margin-right: 10px;
    padding-bottom: 20px;
  }

  .third {
    display: flex;
    flex-direction: row;

    width: 100vw;
    margin-bottom: 10vw;

    background-color: #000;

    justify-content: center;
  }

footer {
  padding-bottom: 30px;

  text-align: center;

  line-height: 130%;
}

@media (min-width: 1440px) {

  .question a {
    margin-top: 700px;
}

p {
  font-size: 50px;
}

h2 {
  font-size: 60px;
}

}

@media (max-width: 1025px) {

  body {
    background-size: none;
  }

  .problem {
    margin-left: -150px;
}

h2 {
  font-size: 35px;
}

}

@media (max-width: 769px) {

  span {
    font-size: 40px;
  }

  body {
    background-size: none;
  }

  header {
    font-size: 18px;
  }

  .problem {
    margin-top: 200px;
    margin-left: -100px;

    color: #B5C6B2;

    font-size: 80px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    width: 70vw;
    margin-bottom: 40px;

    font-size: 25px;
  }

  .beginning, .steptwo, .steptree {
    padding: 80px 200px 0 80px;

  }

  .feelanger h2, .feelconfuse h2 {
    width: 900px;
    margin-left: 50px;

    text-align: center;
  }

  .question a {
    font-size: 30px;
  }

  .third {
    flex-direction: column;

    padding-left: 30px;
  }

  .question_one p, .question_two p {
    width: 70vw;
  }

  .message {
    padding: 50px;

  	font-size: 50px;
  	font-weight: 700;
  	}

}
  @media (max-width: 320px) {
    .question {
      height: 70vw;
    }
  }
